<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTA DE CLIENTES</h1>
    <ul>
    {% for client in cliente_list %}
        <li>{{ client.nome }} - {{ client.cpf }} - {{ client.telefone }} - {{ client.endereco }}</li>
    {% endfor %}
    </ul>
    <form action="/cadastrar_cliente" method="get">
        <button type="submit">cadastrar cliente</button>
    

</body>
</html>