<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTA DE CLIENTES</h1>
    <ul>
    {% for client in cliente_list %}
        <li>{{ client.nome }} - {{ client.cpf }} - {{ client.telefone }} - {{ client.endereco }}
            <form action="{% url 'editar_cliente' client.id %}" method="get" style="display:inline;">
                <button type="submit">Editar</button>
            </form>
            <!-- Formulário para exclusão -->
            <form action="{% url 'deletar_cliente' client.id %}" method="get" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Excluir</button>
            </form>
        </li>
    {% endfor %}
    </ul>
    <form action="/cadastrar_cliente" method="get">
        <button type="submit">cadastrar cliente</button>
    

</body>
</html>