<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'sidebar.html' with title_page='CADASTRAR CLIENTE' %}
    <h1>Cadastro de Cliente</h1>
    <form method="post">
        {% csrf_token %}
        <div>
        {{form}}
        <form action="{% url 'cadastrar_cliente'%}" method="post" style="display:inline;">
            <button type="submit">Cadastrar</button>
        </div>
        </form>
    </form>

    

</body>
</html>