.custom-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.custom-form div {
    display: flex;
    flex-direction: column;
}

.custom-form label {
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #333; /* Cor do texto do rótulo */
}

.custom-form div input {
    width: 100%;
    height: 5.5vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.custom-form input:focus {
    border-color: cadetblue;
    outline: none;
}

.custom-form button {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid cadetblue;
    border-radius: 4px;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}