<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTA DE CLIENTES</h1>
    <ul>
    {% for client in clients %}
        <li>{{ client.nome }} - {{ client.cpf }} - {{ client.telefone }}</li>
    {% endfor %}
    </ul>

    <h1>ADICIONAR CLIENTE</h1>
    <form action="{% url 'add_client' %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="cpf" placeholder="CPF">
        <input type="text" name="telefone" placeholder="Telefone">
        <input type="text" name="cidade" placeholder="Cidade">
        <input type="text" name="profissao" placeholder="Profissão">
        <button type="submit">Adicionar</button>
    </form>

</body>
</html>