{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if pedido and not erro %}Atualizar Pedido{% else %}Cadastrar Pedido{% endif %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
</head>
<body>
    {% include 'sidebar.html' with title_page=pagina|upper|stringformat:"s PEDIDO" %}
    <main>
        <div class="container">
            <h2>{% if pagina == 'editar' %}Atualizar Pedido{% else %}Cadastrar Pedido{% endif %}</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ pedido_form.as_p }}
                <h3>Itens do Pedido</h3>
                {{ item_formset.management_form }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Valor do Produto</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in item_formset %}
                            <tr class="item-form">
                                <td>{{ form.produto }}</td>
                                <td>{{ form.quantidade }}</td>
                                <td>{{ form.valor_prod }}</td>
                                <td>
                                    {{ form.DELETE }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">
                    {% if pagina == 'editar' %}Atualizar Pedido{% else %}Cadastrar Pedido{% endif %}
                </button>
                <button type="button" id="add-item" class="btn btn-success">Adicionar Item</button>
            </form>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let totalForms = document.querySelector('#id_itens-TOTAL_FORMS');
                let formContainer = document.querySelector('tbody');
                let addButton = document.querySelector('#add-item');

                addButton.addEventListener('click', function() {
                    let formNum = parseInt(totalForms.value);
                    let newForm = document.querySelectorAll('.item-form')[0].cloneNode(true);

                    // Update the form fields' names and IDs
                    let formRegex = new RegExp('(-\\d+-|__prefix__)', 'g');
                    newForm.innerHTML = newForm.innerHTML.replace(formRegex, '-' + formNum + '-');

                    // Clear the values in the input fields
                    let inputs = newForm.querySelectorAll('input');
                    inputs.forEach(function(input) {
                        if (input.type !== 'hidden' && input.type !== 'checkbox') {
                            input.value = '';
                        } else if (input.type === 'checkbox') {
                            input.checked = false;
                        }
                    });

                    formContainer.appendChild(newForm);
                    totalForms.value = formNum + 1;
                });
            });
        </script>
    </main>
</body>
</html>